<div class="corpo">
    <div class="container conteudo">
        <div class="row centralizar-conteudo">
            <div class="col-12 titulo">
              <h1>{{ 'SCHEDULE.TITLE' | translate }}</h1>
              <hr style="margin-left: 25px;">
              <h2>{{ 'SCHEDULE.SUBTITLE' | translate }}</h2>
            </div>
        </div>
        <div class="row" *ngIf="listaServicosFiltrada.length > 0">
            <div class="col-4">
                <label for="filterTableConstrutora">{{ 'SCHEDULE.CONSTRUCTOR_LABEL' | translate }}</label>
                <select #filterTableConstrutora name="filterTableConstrutora" id="filterTableConstrutora"
                    (change)="onFiltroConstrutoraChange($event)">
                    <option value="Todos">{{ 'SCHEDULE.ALL' | translate }}</option>
                    <option *ngFor="let construtora of listaConstrutorasConsulta"
                        [value]="construtora.builderName">
                        {{construtora.builderName}}
                    </option>
                </select>
            </div>
            <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                <label for="filterTableCostCenter">{{ 'SCHEDULE.COST_CENTER_LABEL' | translate }}</label>
                <select name="filterTableCostCenter" id="filterTableCostCenter"
                    (change)="onFiltroCostCenterChange($event)">
                    <option value="Todos">{{ 'SCHEDULE.ALL' | translate }}</option>
                    <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta"
                        [value]="centroDeCusto.costCenterName">
                        {{centroDeCusto.costCenterName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row centralizar-conteudo" *ngIf="filtroCentroCustoSelecionado !== null">
            <div class="col-12">
                <hr>
                <h2 style="padding-left: 15px;">{{ 'SCHEDULE.INITIAL_SCHEDULE' | translate }}</h2>
            </div>
        </div>
        <div *ngIf="filtroCentroCustoSelecionado !== null">
            <div style="display: block;">
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [type]="lineChartType">
                </canvas>
              </div>
        </div>
        <div class="row centralizar-conteudo" *ngIf="filtroCentroCustoSelecionado !== null">
            <div class="col-12">
                <hr>
                <h2 style="padding-left: 15px;">{{ 'SCHEDULE.REAL_SCHEDULE' | translate }}</h2>
            </div>
        </div>
        <div *ngIf="filtroCentroCustoSelecionado !== null">
            <div style="display: block;">
                <canvas baseChart
                        [datasets]="secondLineChartData"
                        [labels]="secondLineChartLabels"
                        [options]="secondLineChartOptions"
                        [legend]="secondLineChartLegend"
                        [type]="secondLineChartType">
                </canvas>
              </div>
        </div>
        <div class="row centralizar-conteudo" *ngIf="filtroCentroCustoSelecionado !== null">
            <div class="col-12">
                <hr>
                <h2 style="padding-left: 15px;">{{ 'SCHEDULE.COMPARATIVE_SCHEDULE' | translate }}</h2>
            </div>
        </div>
        <div *ngIf="filtroCentroCustoSelecionado !== null">
            <div style="display: block;">
                <canvas baseChart
                        [datasets]="thirdLineChartData"
                        [labels]="thirdLineChartLabels"
                        [options]="thirdLineChartOptions"
                        [legend]="thirdLineChartLegend"
                        [type]="thirdLineChartType">
                </canvas>
              </div>
        </div>
        <div *ngIf="filtroCentroCustoSelecionado !== null">
            <h3>{{ 'SCHEDULE.LEGEND' | translate }}</h3>
            <p>{{ 'SCHEDULE.INITIAL_SCHEDULE_ABBREVIATION' | translate }}</p>
            <p>{{ 'SCHEDULE.REAL_SCHEDULE_ABBREVIATION' | translate }}</p>
        </div>
    </div>
</div>
