$sidebar-width: 250px;
$navbar-height: 60px;
$linear-gradient-aqua-marine: linear-gradient(to bottom, #2F4F4F, #5F9EA0, #66CDAA);
$background-color-light: #E7E7E7;
$background-color-dark: #1C1C1C;
$linear-gradient-orange: linear-gradient(to bottom, #e53935, #f6685e, #ff9e80);
$button-confirm: #008B8B;
$button-confirm-hover: #20B2AA;
$box-shadow-dark: 5px 20px 50px #000;
$box-shadow-light: 5px 20px 50px #363636;