$sidebar-width: 250px;
$navbar-height: 60px;
$linear_gradient_aqua_marine: linear-gradient(to bottom, #2F4F4F, #5F9EA0, #66CDAA);
$background-color: #E7E7E7;
$linear_gradient_orange: linear-gradient(to bottom, #e53935, #f6685e, #ff9e80);