@import '../app/variables.scss';

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.sidenav { 
    width: $sidebar-width;
    transition: ease-in-out 1200ms width;
}
  
.sidenav.closed {
    width: 0;
    transition: ease-in-out 1200ms width;
}

.content {
    width: 100%;
}

.sidebar-slider {
    width: 100%;
    flex-grow: 1; 
    transform: translateX(0px);
    transition: ease-in-out 1200ms transform;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(125px);
    transition: ease-in-out 1200ms transform;
}