<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
</style>
<div>
  <app-navbar></app-navbar>
  <div class="container">
      <div *ngIf="mostrarSidebar">
        <app-layout></app-layout>
      </div>
      <div *ngIf="!mostrarSidebar">
        <router-outlet></router-outlet>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-running-dots" [fullScreen]="true">
  <p style="color: white">{{ 'LOADING' | translate }}</p>
</ngx-spinner>
