.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  
.sidenav { 
    width: 250px; // Ajuste para a largura do seu sidebar
    transition: ease-in-out 1200ms width;
}
  
.sidenav.closed {
    width: 0;
    transition: ease-in-out 1200ms width;
}

.navbar-slider { 
    width: 100%;
}

.content {
    width: 100%;
}