<div>
    <app-navbar></app-navbar>
    <app-sidebar [authorities]="authorities" [isSidebarOpen]="isSidebarOpen" *ngIf="mostrarSidebar" mode="side" opened
        [ngClass]="{'closed': !sidebarComponent.isSidebarOpen}" class="sidenav">
    </app-sidebar>
    <div class="container" [class.sidebar-closed]="!sidebarComponent.isSidebarOpen">
        <div *ngIf="mostrarSidebar" class="sidebar-slider" [class.sidebar-slide-in]="isSidebarOpen"
            [ngClass]="[!mostrarSidebar ? 'sidebar-slider' : 'sidebar-slider.sidebar-slide-in']">
            <router-outlet></router-outlet>
        </div>
        <div *ngIf="!mostrarSidebar">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>