@import '../../variables.scss';

.container {
    margin-top: calc($navbar-height + 30px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}
  
.sidenav { 
    width: $sidebar-width;
    transition: ease-in-out 1200ms width;
}
  
.sidenav.closed {
    width: 0;
    transition: ease-in-out 1200ms width;
}

.content {
    width: 100%;
}

.sidebar-slider {
    width: 100%;
    flex-grow: 1; 
    transform: translateX(0px);
    transition: ease-in-out 1200ms transform;
}

.sidebar-slider.sidebar-slide-in {
    transform: translateX(125px);
    transition: ease-in-out 1200ms transform;
}