.main-content-sem-navbar {
    margin-left: 0;
    transition: margin-left .5s ease-out;
  }
  
.main-content-navbar {
margin-left: 200px; /* Ajuste este valor de acordo com a largura do seu sidebar */
transition: margin-left .5s ease-in-out;
}