<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 0}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba(0)">Serviços aguardando avaliação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 1}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba(1)">Serviços aguardando reavaliação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 2}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba(2)">Serviços com avaliação concluída</a>
            </li>
        </ul>
        <!-- ABA DE SERVICOS AGUARDANDO AVALIACAO -->
        <div class="tab-content">
            <div *ngIf="avaliacaoTab == 0" [ngClass]="{'show active': avaliacaoTab == 0}" class="tab-pane fade"
                id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Serviços aguardando avaliação</h1>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="filterTableConstrutora">Filtrar por Construtora:</label>
                            <select name="filterTableConstrutora" id="filterTableConstrutora"
                                (change)="onFiltroConstrutoraChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta"
                                    [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">Filtrar por Centro de Custo:</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter"
                                (change)="onFiltroCostCenterChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta"
                                    [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4"
                            *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">Filtrar pelo 1º Nível:</label>
                            <select name="filterTable1" id="filterTable1"
                                (change)="onFiltroLocationGroupChange($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta"
                                    [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">Filtrar pelo 2º Nível:</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>

                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">Filtrar pelo 3º Nível:</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="servicosAguardandoAvaliacaoFiltrada.length > 0">
                        <div class="col-12">
                            <table mat-table [dataSource]="servicosAguardandoAvaliacaoFiltrada" class="mat-elevation-z8">
                                <ng-container matColumnDef="avaliar">
                                    <th mat-header-cell *matHeaderCellDef>Avaliar</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Avaliar serviço"
                                            matTooltipShowDelay="1500"
                                            style="cursor: pointer; color: rgb(110, 235, 110);">
                                            checklist
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="builder">
                                    <th mat-header-cell *matHeaderCellDef>Construtora</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.builder.builderName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>Obra</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="taskType">
                                    <th mat-header-cell *matHeaderCellDef>Serviço</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskType.taskTypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>Pavimento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>Local</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>Cômodo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="dimension">
                                    <th mat-header-cell *matHeaderCellDef>Dimensão</th>
                                    <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>Und. Medida</th>
                                    <td mat-cell *matCellDef="let element"> {{element.unitMeasurement.name}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" *ngIf="servicosAguardandoAvaliacaoFiltrada.length === 0">
                        <h3>
                            Nenhum local de serviço encontrado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>