<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 0}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba(0)">Serviços aguardando avaliação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 1}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba(1)">Serviços aguardando reavaliação</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': avaliacaoTab == 2}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba(2)">Serviços com avaliação concluída</a>
            </li>
        </ul>
        <!-- ABA DE SERVICOS AGUARDANDO AVALIACAO -->
        <div class="tab-content">
            <div *ngIf="avaliacaoTab == 0" [ngClass]="{'show active': avaliacaoTab == 0}" class="tab-pane fade"
                id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Serviços aguardando avaliação</h1>
                    </div>
                    <div class="row" *ngIf="servicosAguardandoAvaliacao.length > 0">
                        <div class="col-4">
                            <label for="filterTableConstrutora">Filtrar por Construtora:</label>
                            <select #filterTableConstrutora name="filterTableConstrutora" id="filterTableConstrutora"
                                (change)="onFiltroConstrutoraChange($event)">
                                <option value="Todos">Todos</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta"
                                    [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">Filtrar por Centro de Custo:</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter"
                                (change)="onFiltroCostCenterChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta"
                                    [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4"
                            *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">Filtrar pelo 1º Nível:</label>
                            <select name="filterTable1" id="filterTable1"
                                (change)="onFiltroLocationGroupChange($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta"
                                    [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">Filtrar pelo 2º Nível:</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>

                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">Filtrar pelo 3º Nível:</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="filtroConstrutoraSelecionado != null" class="row">
                        <div class="col-6">
                            <button class="btn-warning" style="margin-left: 10px; margin-top: 0px" type="button" (click)="limparFiltros()">Limpar filtros</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="servicosAguardandoAvaliacaoFiltrada.length > 0">
                        <div class="col-12">
                            <table mat-table [dataSource]="servicosAguardandoAvaliacaoFiltrada"
                                class="mat-elevation-z8">
                                <ng-container matColumnDef="avaliar">
                                    <th mat-header-cell *matHeaderCellDef>Avaliar</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Avaliar serviço"
                                            matTooltipShowDelay="1500" (click)="modalAvaliarServico(element)"
                                            style="cursor: pointer; color: rgb(90, 192, 90);">
                                            checklist
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="builder">
                                    <th mat-header-cell *matHeaderCellDef>Construtora</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.builder.builderName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>Obra</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="taskType">
                                    <th mat-header-cell *matHeaderCellDef>Serviço</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskType.taskTypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>Pavimento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>Local</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>Cômodo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="dimension">
                                    <th mat-header-cell *matHeaderCellDef>Dimensão</th>
                                    <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>Und. Medida</th>
                                    <td mat-cell *matCellDef="let element"> {{element.unitMeasurement.name}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" style="color: rgb(90, 192, 90);"
                        *ngIf="servicosAguardandoAvaliacaoFiltrada.length === 0">
                        <h3>
                            Nenhum serviço aguardando avaliação encontrado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- ABA DE SERVICOS AGUARDANDO REAVALIAÇÃO-->
        <div class="tab-content">
            <div *ngIf="avaliacaoTab == 1" [ngClass]="{'show active': avaliacaoTab == 1}" class="tab-pane fade"
                id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Serviços aguardando reavaliação</h1>
                    </div>
                    <div class="row" *ngIf="servicosParaReavaliacao.length > 0">
                        <div class="col-4">
                            <label for="filterTableConstrutora">Filtrar por Construtora:</label>
                            <select #filterTableConstrutora name="filterTableConstrutora" id="filterTableConstrutora"
                                (change)="onFiltroConstrutoraChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta"
                                    [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">Filtrar por Centro de Custo:</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter"
                                (change)="onFiltroCostCenterChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta"
                                    [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4"
                            *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">Filtrar pelo 1º Nível:</label>
                            <select name="filterTable1" id="filterTable1"
                                (change)="onFiltroLocationGroupChange($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta"
                                    [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">Filtrar pelo 2º Nível:</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>

                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">Filtrar pelo 3º Nível:</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="filtroConstrutoraSelecionado != null" class="row">
                        <div class="col-6">
                            <button class="btn-warning" style="margin-left: 10px; margin-top: 0px" type="button" (click)="limparFiltros()">Limpar filtros</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="servicosParaReavaliacaoFiltrados.length > 0">
                        <div class="col-12">
                            <table mat-table [dataSource]="servicosParaReavaliacaoFiltrados" class="mat-elevation-z8">
                                <ng-container matColumnDef="avaliar">
                                    <th mat-header-cell *matHeaderCellDef>Avaliar</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Avaliar serviço"
                                            matTooltipShowDelay="1500" (click)="modalAvaliarServico(element)"
                                            style="cursor: pointer; color: rgb(90, 192, 90);">
                                            checklist
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="builder">
                                    <th mat-header-cell *matHeaderCellDef>Construtora</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.builder.builderName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>Obra</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="taskType">
                                    <th mat-header-cell *matHeaderCellDef>Serviço</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskType.taskTypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>Pavimento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>Local</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>Cômodo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="dimension">
                                    <th mat-header-cell *matHeaderCellDef>Dimensão</th>
                                    <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>Und. Medida</th>
                                    <td mat-cell *matCellDef="let element"> {{element.unitMeasurement.name}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" style="color: rgb(90, 192, 90);"
                        *ngIf="servicosParaReavaliacaoFiltrados.length === 0">
                        <h3>
                            Nenhum serviço aguardando reavaliação encontrado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- ABA DE SERVICOS COM AVALIAÇÃO CONCLUÍDA -->
        <div class="tab-content">
            <div *ngIf="avaliacaoTab == 2" [ngClass]="{'show active': avaliacaoTab == 2}" class="tab-pane fade"
                id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Serviços com avaliação concluída</h1>
                    </div>
                    <div class="row" *ngIf="servicosAvaliados.length > 0">
                        <div class="col-4">
                            <label for="filterTableConstrutora">Filtrar por Construtora:</label>
                            <select #filterTableConstrutora name="filterTableConstrutora" id="filterTableConstrutora"
                                (change)="onFiltroConstrutoraChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta"
                                    [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">Filtrar por Centro de Custo:</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter"
                                (change)="onFiltroCostCenterChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta"
                                    [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4"
                            *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">Filtrar pelo 1º Nível:</label>
                            <select name="filterTable1" id="filterTable1"
                                (change)="onFiltroLocationGroupChange($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta"
                                    [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">Filtrar pelo 2º Nível:</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>

                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">Filtrar pelo 3º Nível:</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="filtroConstrutoraSelecionado != null" class="row">
                        <div class="col-6">
                            <button class="btn-warning" style="margin-left: 10px; margin-top: 0px" type="button" (click)="limparFiltros()">Limpar filtros</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="servicosAvaliadosFiltrados.length > 0">
                        <div class="col-12">
                            <table mat-table [dataSource]="servicosAvaliadosFiltrados" class="mat-elevation-z8">
                                <ng-container matColumnDef="avaliar">
                                    <th mat-header-cell *matHeaderCellDef>Avaliar</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Avaliar serviço"
                                            matTooltipShowDelay="1500" (click)="modalAvaliarServico(element)"
                                            style="cursor: pointer;">
                                            visibility
                                        </mat-icon>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="builder">
                                    <th mat-header-cell *matHeaderCellDef>Construtora</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.builder.builderName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>Obra</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="taskType">
                                    <th mat-header-cell *matHeaderCellDef>Serviço</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskType.taskTypeName}} </td>
                                </ng-container>
                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>Pavimento</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>Local</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>Cômodo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskLocation.subGroup2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="dimension">
                                    <th mat-header-cell *matHeaderCellDef>Dimensão</th>
                                    <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
                                </ng-container>
                                <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>Und. Medida</th>
                                    <td mat-cell *matCellDef="let element"> {{element.unitMeasurement.name}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" style="color: rgb(90, 192, 90);"
                        *ngIf="servicosAguardandoAvaliacaoFiltrada.length === 0">
                        <h3>
                            Nenhum serviço avaliado encontrado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE AVALIAÇÃO DE SERVIÇOS -->
<div #modalAvaliacaoServico>
    <div *ngIf="renderModalAvaliacaoServico" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">Dados do Serviço</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="construtoraModalAvaliacao">Construtora</label>
                <input #construtoraModalAvaliacao type="text" name="construtoraModalAvaliacao"
                    id="construtoraModalAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.costCenter.builder.builderName" disabled="disabled">
            </div>
            <div class="col-6">
                <label for="centroDeCustoModalAvaliacao">Centro de Custo</label>
                <input #centroDeCustoModalAvaliacao type="text" name="centroDeCustoModalAvaliacao"
                    id="centroDeCustoModalAvaliacao" [ngModel]="servicoSelecionadoAvaliacao.costCenter.costCenterName"
                    disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="localAvaliacao">1º Nível de localização</label>
                <input #localAvaliacao type="text" name="localAvaliacao" id="localAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskLocation.locationGroup" disabled="disabled">
            </div>
            <div class="col-4" *ngIf="servicoSelecionadoAvaliacao.taskLocation.subGroup1">
                <label for="subGrupo1Avaliacao">2º Nível de localização</label>
                <input #subGrupo1Avaliacao type="text" name="subGrupo1Avaliacao" id="subGrupo1Avaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskLocation.subGroup1" disabled="disabled">
            </div>
            <div class="col-4" *ngIf="servicoSelecionadoAvaliacao.taskLocation.subGroup2">
                <label for="subGrupo3Avaliacao">3º Nível de localização</label>
                <input #subGrupo3Avaliacao type="text" name="subGrupo3Avaliacao" id="subGrupo3Avaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskLocation.subGroup2" disabled="disabled">
            </div>
        </div>
        <div class="row" *ngIf="servicoSelecionadoAvaliacao.taskLocation.subGroup3">
            <div class="col-4">
                <label for="subGrupo3Avaliacao">4º Nível de localização</label>
                <input #subGrupo3Avaliacao type="text" name="subGrupo3Avaliacao" id="subGrupo3Avaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskLocation.subGroup3" disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="taskTypeAvaliacao">Tipo de serviço</label>
                <input #taskTypeAvaliacao type="text" name="taskTypeAvaliacao" id="taskTypeAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskType.taskTypeName" disabled="disabled">
            </div>
            <div class="col-2">
                <label for="dimensionAvaliacao">Dimensão</label>
                <input #dimensionAvaliacao type="text" name="dimensionAvaliacao" id="dimensionAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.dimension" disabled="disabled">
            </div>
            <div class="col-2">
                <label for="undMedidaAvaliacao">Und. Medida</label>
                <input #undMedidaAvaliacao type="text" name="undMedidaAvaliacao" id="undMedidaAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.taskType.unitMeasurement.name" disabled="disabled">
            </div>
            <div class="col-4">
                <label for="amountAvaliacao">Valor da mão de obra do serviço</label>
                <input #amountAvaliacao type="text" name="amountAvaliacao" id="amountAvaliacao"
                    [ngModel]="servicoSelecionadoAvaliacao.amount" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="expectedStartDateAvaliacao">Data de início prevista</label>
                <input #expectedStartDateAvaliacao type="text" name="expectedStartDateAvaliacao"
                    id="expectedStartDateAvaliacao" [value]="expectedStartDateFormatada" disabled="disabled">
            </div>
            <div class="col-3">
                <label for="expectedEndDateAvaliacao">Data de término prevista</label>
                <input #expectedEndDateAvaliacao type="text" name="expectedEndDateAvaliacao"
                    id="expectedEndDateAvaliacao" [ngModel]="expectedEndDateFormatada" disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">Executores e Avaliadores</h2>
            </div>
        </div>
        <!-- Executores -->
        <div class="row" *ngIf="servicoSelecionadoAvaliacao.executors != undefined">
            <div class="col-6">
                <label for="executorAvaliacao1">Funcionário executor<span style="color: red;">*</span></label>
                <select #executorAvaliacao1 name="executorAvaliacao1" id="executorAvaliacao1"
                    [(ngModel)]="servicoSelecionadoAvaliacao.executors[0]">
                    <option disabled [value]="null">Selecione um funcionário</option>
                    <option *ngFor="let executor of listaFuncionarios" [ngValue]="executor">
                        {{ executor.name }}
                    </option>
                </select>
            </div>
            <div class="col-6" *ngFor="let executor of additionalExecutors; index as i">
                <label [for]="'executor' + executor + 'Name'">{{ executor + 1 }}º Funcionário executor</label>
                <select type="text" [name]="'executor' + executor + 'Name'"
                    [(ngModel)]="servicoSelecionadoAvaliacao.executors[i + 1]">
                    <option disabled [value]="null">Selecione um funcionário</option>
                    <option *ngFor="let executor of listaFuncionarios" [ngValue]="executor">
                        {{ executor.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="text-align: left;">
                <mat-icon *ngIf="additionalExecutors.length <= 4" class="botoes-parametros add"
                    matTooltip="Adicionar Funcionário" matTooltipShowDelay="500" (click)="addExecutor()"
                    style="cursor: pointer;">
                    add_circle
                </mat-icon>
                <mat-icon *ngIf="additionalExecutors.length > 0" class="botoes-parametros remove"
                    matTooltip="Remover Funcionário" matTooltipShowDelay="500" (click)="removeExecutor()"
                    style="cursor: pointer;">
                    remove_circle
                </mat-icon>
            </div>
        </div>
        <!-- Avaliadores -->
        <div class="row" *ngIf="servicoSelecionadoAvaliacao.evaluators != undefined">
            <div class="col-6">
                <label for="evaluatorAvaliacao1">Avaliador<span style="color: red;">*</span></label>
                <select #evaluatorAvaliacao1 name="evaluatorAvaliacao1" id="evaluatorAvaliacao1"
                    [(ngModel)]="servicoSelecionadoAvaliacao.evaluators[0]">
                    <option disabled [value]="null">Selecione um avaliador</option>
                    <option *ngFor="let evaluator of listaConferentes" [ngValue]="evaluator">
                        {{ evaluator.name }}
                    </option>
                </select>
            </div>
            <div class="col-6" *ngFor="let evaluator of additionalEvaluators; index as i">
                <label [for]="'evaluator' + evaluator + 'Name'">{{ evaluator + 1 }}º Avaliador</label>
                <select type="text" [name]="'evaluator' + evaluator + 'Name'"
                    [(ngModel)]="servicoSelecionadoAvaliacao.evaluators[i + 1]">
                    <option disabled [value]="null">Selecione um avaliador</option>
                    <option *ngFor="let evaluator of listaConferentes" [ngValue]="evaluator">
                        {{ evaluator.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="text-align: left;">
                <mat-icon *ngIf="additionalEvaluators.length <= 2" class="botoes-parametros add"
                    matTooltip="Adicionar Avaliador" matTooltipShowDelay="500" (click)="addEvaluator()"
                    style="cursor: pointer;">
                    add_circle
                </mat-icon>
                <mat-icon *ngIf="additionalEvaluators.length > 0" class="botoes-parametros remove"
                    matTooltip="Remover Avaliador" matTooltipShowDelay="500" (click)="removeEvaluator()"
                    style="cursor: pointer;">
                    remove_circle
                </mat-icon>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">Parâmetros da Avaliação</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="startDateAvaliacao">Data de início real<span style="color: red;">*</span></label>
                <input #startDateAvaliacao style="text-align: center;" name="startDateAvaliacao" id="startDateAvaliacao"
                    required matTooltip="Data prevista para o início do serviço" matTooltipShowDelay="1500"
                    [(ngModel)]="servicoSelecionadoAvaliacao.startDate" type="date" />
            </div>
            <div class="col-3">
                <label for="finalDateAvaliacao">Data de término real<span style="color: red;">*</span></label>
                <input #finalDateAvaliacao style="text-align: center;" name="finalDateAvaliacao" id="finalDateAvaliacao"
                    required matTooltip="Data prevista para o início do serviço" matTooltipShowDelay="1500"
                    [(ngModel)]="servicoSelecionadoAvaliacao.finalDate" type="date" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="parameter0ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter0Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter0ResultAvaliacao name="parameter0ResultAvaliacao" id="parameter0ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter0Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3">
                <label for="parameter1ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter1Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter1ResultAvaliacao name="parameter1ResultAvaliacao" id="parameter1ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter1Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3">
                <label for="parameter2ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter2Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter2ResultAvaliacao name="parameter2ResultAvaliacao" id="parameter2ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter2Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter3Name">
                <label for="parameter3ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter3Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter3ResultAvaliacao name="parameter3ResultAvaliacao" id="parameter3ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter3Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter4Name || 
                                servicoSelecionadoAvaliacao.taskType.parameter5Name || 
                                servicoSelecionadoAvaliacao.taskType.parameter6Name || 
                                servicoSelecionadoAvaliacao.taskType.parameter7Name ||
                                servicoSelecionadoAvaliacao.taskType.parameter8Name ||
                                servicoSelecionadoAvaliacao.taskType.parameter9Name">
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter4Name">
                <label for="parameter4ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter4Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter4ResultAvaliacao name="parameter4ResultAvaliacao" id="parameter4ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter4Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter5Name">
                <label for="parameter5ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter5Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter5ResultAvaliacao name="parameter5ResultAvaliacao" id="parameter5ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter5Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter6Name">
                <label for="parameter6ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter6Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter6ResultAvaliacao name="parameter6ResultAvaliacao" id="parameter6ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter6Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter7Name">
                <label for="parameter7ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter7Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter7ResultAvaliacao name="parameter7ResultAvaliacao" id="parameter7ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter7Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter8Name">
                <label for="parameter8ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter8Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter8ResultAvaliacao name="parameter8ResultAvaliacao" id="parameter8ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter8Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
            <div class="col-3" *ngIf="servicoSelecionadoAvaliacao.taskType.parameter9Name">
                <label for="parameter9ResultAvaliacao">{{ servicoSelecionadoAvaliacao.taskType.parameter9Name
                    }}<span style="color: red;">*</span></label>
                <select #parameter9ResultAvaliacao name="parameter9ResultAvaliacao" id="parameter9ResultAvaliacao"
                    [(ngModel)]="avaliacaoModel.parameter9Result">
                    <option disabled [value]="undefined">Selecione uma opção</option>
                    <option [ngValue]="true">Aprovado</option>
                    <option [ngValue]="false">Reprovado</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="obsAvaliacao">Observações</label>
                <textarea #obsAvaliacao type="text" name="obsAvaliacao" id="obsAvaliacao"
                    matTooltip="Observações gerais" matTooltipShowDelay="1500" [(ngModel)]="avaliacaoModel.obs"
                    placeholder="Qualquer observação pertinente"></textarea>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE ANEXAÇÃO DE FOTOS -->
<div #modalAnexarFotos>
    <div *ngIf="renderModalAnexarFotos" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12 titulo">
                <h1>Favor inserir de 3 a 6 fotos do serviço avaliado</h1>
                <hr style="margin-left: 12.5px; margin-right: 12.5px;">
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <div class="col-2" *ngFor="let item of [0, 1, 2, 3, 4, 5]; let i = index">
                <input style="display: none;" type="file" [id]="'avaliacaoFoto' + i" [name]="'avaliacaoFoto' + i"
                    accept="image/*" (change)="handleFileInput($event.target, i)" #avaliacaoFoto>
                <div class="image-container centralizar-conteudo">
                    <img class="service-photo" [src]="fotoServico0[i]" width="150px" (click)="triggerFileInput(i)"
                        matTooltip="Clique para inserir uma foto do serviço executado">
                </div>
            </div>
        </div>
    </div>
</div>