<div class="corpo">
    <div class="container conteudo">
        <div class="tab-content">
            <div class="row centralizar-conteudo">
                <div class="col-12 titulo">
                    <h1>Relatório de Produção</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6" *ngIf="userRole !== 'FUNCIONARIO'">
                    <label for="funcionario">Funcionário executor: <span style="color: red;">*</span></label>
                    <select name="funcionario" id="funcionario" [(ngModel)]="usuarioSelecionado">
                        <option disabled [value]="null">Selecione um funcionário</option>
                        <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                            {{ usuario.name }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="inicioPeriodo">De: <span style="color: red;">*</span></label>
                    <input #inicioPeriodo style="text-align: center;" name="inicioPeriodo" id="inicioPeriodo" required
                        matTooltip="Data de início do período de consulta" matTooltipShowDelay="1500"
                        [(ngModel)]="dataInicioPeriodoConsulta" type="date" />
                </div>
                <div class="col-3">
                    <label for="finalPeriodo">A: <span style="color: red;">*</span></label>
                    <input #finalPeriodo style="text-align: center;" name="finalPeriodo" id="finalPeriodo" required
                        matTooltip="Data final do período de consulta" matTooltipShowDelay="1500"
                        [(ngModel)]="dataFimPeriodoConsulta" type="date" />
                </div>
            </div>
            <div class="row centralizar-conteudo">
                <div *ngIf="usuarioSelecionado || dataInicioPeriodoConsulta || dataFimPeriodoConsulta" class="col-6">
                    <button class="btn-warning" type="button" (click)="limparDados()">Limpar dados</button>
                </div>
                <div *ngIf="usuarioSelecionado && dataInicioPeriodoConsulta && dataFimPeriodoConsulta" class="col-6">
                    <button class="btn-confirm" type="button"
                        (click)="buscarValorProducaoPorPeriodoEUsuarioId(dataInicioPeriodoConsulta, dataFimPeriodoConsulta, usuarioSelecionado.id)">
                        Buscar
                    </button>
                </div>
            </div>
            <div class="row centralizar-conteudo">
                <div class="row" *ngIf="producao.length > 0">
                    <div class="col-12 table-responsive">
                        <table mat-table [dataSource]="producao" class="mat-elevation-z8">
                            <ng-container matColumnDef="construtora">
                                <th mat-header-cell *matHeaderCellDef>Construtora</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.costCenter.builder.builderName}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="centroCusto">
                                <th mat-header-cell *matHeaderCellDef>Centro de Custo</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.costCenter.costCenterName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="servico">
                                <th mat-header-cell *matHeaderCellDef>Servico</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.taskType.taskTypeName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="locationGroup">
                                <th mat-header-cell *matHeaderCellDef>Pavimento</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.taskLocation.locationGroup}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="subGroup1">
                                <th mat-header-cell *matHeaderCellDef>Local</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.taskLocation.subGroup1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="subGroup2">
                                <th mat-header-cell *matHeaderCellDef>Cômodo</th>
                                <td mat-cell *matCellDef="let element"> {{element.task.taskLocation.subGroup2}} </td>
                            </ng-container>

                            <ng-container matColumnDef="data">
                                <th mat-header-cell *matHeaderCellDef>Data</th>
                                <td mat-cell *matCellDef="let element"> {{element.assessment.assessmentDate |
                                    date:'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="valor">
                                <th mat-header-cell *matHeaderCellDef>Valor</th>
                                <td mat-cell *matCellDef="let element"> {{element.value | real}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                        </table>
                    </div>
                </div>
                <div class="row centralizar-conteudo" *ngIf="producao.length === 0">
                    <h3>
                        Nenhuma dado encontrado
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>