<div class="corpo">
  <div class="container conteudo">
    <div class="row centralizar-conteudo">
      <div class="col-12">
        <h2>Cadastro de Centro de Custos</h2>
      </div>
    </div>
    <form (ngSubmit)="cadastrarCentroDeCusto()" #form="ngForm" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
      <div class="row">
        <div class="col-12">
          <label for="nomeCentroDeCusto">Nome do Centro de Custo *</label>
          <input type="text" name="nomeCentroDeCusto" id="nomeCentroDeCusto" required 
            matTooltip="Nome do centro de custo" matTooltipShowDelay="1500"
            [(ngModel)]="cadastroCentroCusto.costCenterName" placeholder="Nome da obra">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr style="margin-left: 25px;">
          <h4 style="padding-left: 15px;">Endereço</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <label for="cep">CEP *</label>
          <input type="text" name="cep" id="cep" mask="00.000-000" required 
            matTooltip="CEP" matTooltipShowDelay="1500" placeholder="00.000-000"
            [(ngModel)]="cadastroCentroCusto.costCenterAddress.postalCode"
            (change)="getAddress(cadastroCentroCusto.costCenterAddress.postalCode)">
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <label for="logradouro">Logradouro *</label>
          <input type="text" name="logradouro" id="logradouro" required placeholder="Rua Exemplo"
            matTooltip="Rua, Avenida, Travessa, Alameda" matTooltipShowDelay="1500"  
            [(ngModel)]="cadastroCentroCusto.costCenterAddress.street">
        </div>
        <div class="col-2">
          <label for="numero">Número *</label>
          <input type="number" name="numero" id="numero" required 
            matTooltip="Para 'Sem Número' inserir '0'" matTooltipShowDelay="1500"
            [(ngModel)]="cadastroCentroCusto.costCenterAddress.number">
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <label for="cidade">Cidade *</label>
          <input type="text" name="cidade" id="cidade" required 
            matTooltip="Cidade" matTooltipShowDelay="1500" placeholder="Cidade"
            [(ngModel)]="cadastroCentroCusto.costCenterAddress.city">
        </div>
        <div class="col-2">
          <label for="estado">UF *</label>
          <select name= "estado" [(ngModel)]="cadastroCentroCusto.costCenterAddress.state">
            <option *ngFor="let estado of estadosBrasileiros" [value]="estado">{{estado}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr style="margin-left: 25px;">
          <h4 style="padding-left: 15px;">Dados do centro de custo</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="proprietario">Construtora</label>
          <select name="proprietario" id="proprietario" required 
          matTooltip="Proprietário do centro de custo" matTooltipShowDelay="1500"  
          [(ngModel)]="selectedConstrutoraIndex">
          <option value="" disabled selected>Selecione uma construtora</option>
          <option *ngFor="let construtora of construtoraModel; let i = index" [value]="i">{{construtora.builderName}}</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="valorEmpreendido">Valor Inicial Empreendido</label>
          <input type="text" name="valorEmpreendido" id="valorEmpreendido" required 
            matTooltip="Valor já empreendido no centro de custo" matTooltipShowDelay="1500"  
            [(ngModel)]="cadastroCentroCusto.valueUndertaken" 
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
        </div>
        <div class="col-4">
          <label for="corcamentoPrevisto">Orçamento previsto</label>
          <input type="text" name="corcamentoPrevisto" id="corcamentoPrevisto" required 
            matTooltip="Valor previsto para a conclusão da obra" matTooltipShowDelay="1500"  
            [(ngModel)]="cadastroCentroCusto.expectedBudget" 
            currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
        </div>
      </div>
      <div class="row centralizar-conteudo">
        <div class="col-6 centralizar-conteudo">
          <button class="btn-confirm" type="submit">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
