<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': isCadastroLocalServico}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba()">{{ 'SERVICE-LOCAL.TAB_REGISTER' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': !isCadastroLocalServico}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba()">{{ 'SERVICE-LOCAL.TAB_SEARCH' | translate }}</a>
            </li>
        </ul>
        <!-- ABA DE CADASTRO -->
        <div class="tab-content">
            <div *ngIf="isCadastroLocalServico" class="tab-pane fade"
                [ngClass]="{'show active': isCadastroLocalServico}" id="cadastro">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>{{ 'SERVICE-LOCAL.TITLE_REGISTER' | translate }}</h1>
                        <hr style="margin-left: 25px;">
                    </div>
                </div>
                <form (ngSubmit)="cadastrarLocalServico()" #form="ngForm"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="row">
                        <div class="col-12">
                            <label for="construtora">{{ 'SERVICE-LOCAL.LABEL_CONSTRUCTOR' | translate }}<span style="color: red;">*</span></label>
                            <select style="height: 40px" name="construtora" id="construtora" required
                                matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_COST_CENTER' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="construtoraSelecionada" (ngModelChange)="onConstrutoraChange()">
                                <option value="" disabled selected>{{ 'SERVICE-LOCAL.SELECT_CONSTRUCTOR' | translate }}</option>
                                <option *ngFor="let construtora of listaConstrutoras" [ngValue]="construtora">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="centroDeCusto">{{ 'SERVICE-LOCAL.LABEL_COST_CENTER' | translate }}<span style="color: red;">*</span></label>
                            <select style="height: 40px" name="centroDeCusto" id="centroDeCusto" required
                                matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_COST_CENTER' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroLocalServico.costCenter" [disabled]="!construtoraSelecionada.id">
                                <option value="" disabled selected>{{ 'SERVICE-LOCAL.SELECT_COST_CENTER' | translate }}</option>
                                <option *ngFor="let centroCusto of listaCentrosDeCustoFiltrados" [ngValue]="centroCusto">
                                    {{centroCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="grupo">{{ 'SERVICE-LOCAL.LABEL_LOCATION_LEVEL1' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="grupo" id="grupo" required matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_LOCATION_LEVEL1' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.locationGroup"
                                placeholder="{{ 'SERVICE-LOCAL.PLACEHOLDER_LOCATION_LEVEL1' | translate }}" [disabled]="!cadastroLocalServico.costCenter.id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo1">{{ 'SERVICE-LOCAL.LABEL_LOCATION_LEVEL2' | translate }}</label>
                            <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_LOCATION_LEVEL2' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup1"
                                placeholder="{{ 'SERVICE-LOCAL.PLACEHOLDER_LOCATION_LEVEL2' | translate }}" [disabled]="cadastroLocalServico.locationGroup.length < 1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo2">{{ 'SERVICE-LOCAL.LABEL_LOCATION_LEVEL3' | translate }}</label>
                            <input type="text" name="subGrupo2" id="subGrupo2" matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_LOCATION_LEVEL3' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup2"
                                placeholder="{{ 'SERVICE-LOCAL.PLACEHOLDER_LOCATION_LEVEL3' | translate }}" [disabled]="!cadastroLocalServico.subGroup1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo3">{{ 'SERVICE-LOCAL.LABEL_LOCATION_LEVEL4' | translate }}</label>
                            <input type="text" name="subGrupo3" id="subGrupo3" matTooltip="{{ 'SERVICE-LOCAL.TOOLTIP_LOCATION_LEVEL4' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup3"
                                placeholder="{{ 'SERVICE-LOCAL.PLACEHOLDER_LOCATION_LEVEL4' | translate }}" [disabled]="!cadastroLocalServico.subGroup2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn-cancel" type="button" (click)="limparCampos()">{{ 'SERVICE-LOCAL.BUTTON_CLEAR_FIELDS' | translate }}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn-confirm" type="button" (click)="cadastrarLocalServico()">{{ 'SERVICE-LOCAL.BUTTON_REGISTER' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ABA DE CONSULTA -->
            <div *ngIf="!isCadastroLocalServico" [ngClass]="{'show active': !isCadastroLocalServico}"
                class="tab-pane fade" id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>{{ 'SERVICE-LOCAL.REGISTERED_LOCATIONS' | translate }}</h1>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="filterTableConstrutora">{{ 'SERVICE-LOCAL.FILTER_BY_CONSTRUCTOR' | translate }}</label>
                            <select name="filterTableConstrutora" id="filterTableConstrutora" (change)="onFiltroConstrutoraChange($event)">
                                <option>{{ 'SERVICE-LOCAL.ALL' | translate }}</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta" [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">{{ 'SERVICE-LOCAL.FILTER_BY_COST_CENTER' | translate }}</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter" (change)="onFiltroCostCenterChange($event)">
                                <option>{{ 'SERVICE-LOCAL.ALL' | translate }}</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta" [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">{{ 'SERVICE-LOCAL.FILTER_BY_FIRST_LEVEL' | translate }}</label>
                            <select name="filterTable1" id="filterTable1" (change)="onFiltroLocationGroupChange($event)">
                                <option value="">{{ 'SERVICE-LOCAL.ALL' | translate }}</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta" [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">{{ 'SERVICE-LOCAL.FILTER_BY_SECOND_LEVEL' | translate }}</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">{{ 'SERVICE-LOCAL.ALL' | translate }}</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>
                        
                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">{{ 'SERVICE-LOCAL.FILTER_BY_THIRD_LEVEL' | translate }}</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">{{ 'SERVICE-LOCAL.ALL' | translate }}</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="listaLocalServicoFiltrada.length > 0">
                        <div class="col-12 table-responsive">
                            <table mat-table [dataSource]="listaLocalServicoFiltrada" class="mat-elevation-z8">
                                <ng-container matColumnDef="acoes">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.ACTIONS' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="{{ 'SERVICE-LOCAL.EDIT' | translate }}" matTooltipShowDelay="1500"
                                            (click)="modalEditarLocalServico(element)" style="cursor: pointer;">
                                            edit-note
                                        </mat-icon>
                                        <mat-icon class="icones-acoes" matTooltip="{{ 'SERVICE-LOCAL.DELETE' | translate }}" matTooltipShowDelay="1500"
                                            (click)="excluirLocalServico(element.id)" style="cursor: pointer;">
                                            delete
                                        </mat-icon>
                                    </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.COST_CENTER' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.FIRST_LEVEL' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.locationGroup}} </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.SECOND_LEVEL' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup1}} </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.THIRD_LEVEL' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup2}} </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="subGroup3">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-LOCAL.FOURTH_LEVEL' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup3}} </td>
                                </ng-container>
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" *ngIf="listaLocalServicoFiltrada.length === 0">
                        <h3>
                            {{ 'SERVICE-LOCAL.NO_SERVICE_LOCATION_FOUND' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição de Locais-->
<div #modalEditarDetalhes>
    <div *ngIf="renderModalVisualizar" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">{{ 'SERVICE-LOCAL.SERVICE_LOCATION_DATA' | translate }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="construtoraModalEdicao">{{ 'SERVICE-LOCAL.BUILDER' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="construtoraModalEdicao" id="construtoraModalEdicao" required matTooltip="{{ 'SERVICE-LOCAL.BUILDER' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.costCenter.builder.builderName" placeholder="{{ 'SERVICE-LOCAL.BUILDER' | translate }}"
                    disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="centroDeCustoModalEdicao">{{ 'SERVICE-LOCAL.COST_CENTER' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="centroDeCustoModalEdicao" id="centroDeCustoModalEdicao" required matTooltip="{{ 'SERVICE-LOCAL.WORK' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.costCenter.costCenterName" placeholder="{{ 'SERVICE-LOCAL.WORK' | translate }}"
                    disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="grupo">{{ 'SERVICE-LOCAL.LOCATION_LEVEL_1' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="grupo" id="grupo" required matTooltip="{{ 'SERVICE-LOCAL.LOCATION_LEVEL_1' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.locationGroup" placeholder="{{ 'SERVICE-LOCAL.EXAMPLE_FLOOR' | translate }}"
                    [disabled]="indDesabilitaCampos">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo1">{{ 'SERVICE-LOCAL.LOCATION_LEVEL_2' | translate }}</label>
                <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="{{ 'SERVICE-LOCAL.LOCATION_LEVEL_2' | translate }}"
                    matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos"
                    [(ngModel)]="localServicoModel.subGroup1" placeholder="{{ 'SERVICE-LOCAL.EXAMPLE_APARTMENT' | translate }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo2">{{ 'SERVICE-LOCAL.LOCATION_LEVEL_3' | translate }}</label>
                <input type="text" name="subGrupo2" id="subGrupo2" [disabled]="indDesabilitaCampos"
                    matTooltip="{{ 'SERVICE-LOCAL.LOCATION_LEVEL_3' | translate }}" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup2" placeholder="{{ 'SERVICE-LOCAL.EXAMPLE_KITCHEN' | translate }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo3">{{ 'SERVICE-LOCAL.LOCATION_LEVEL_4' | translate }}</label>
                <input type="text" name="subGrupo3" id="subGrupo3" [disabled]="indDesabilitaCampos"
                    matTooltip="{{ 'SERVICE-LOCAL.LOCATION_LEVEL_4' | translate }}" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup3"
                    placeholder="{{ 'SERVICE-LOCAL.DETAILED_ROOM' | translate }}">
            </div>
        </div>
    </div>
</div>