<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': isCadastroLocalServico}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba()">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': !isCadastroLocalServico}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba()">Consulta</a>
            </li>
        </ul>
        <div class="tab-content">
            <div *ngIf="isCadastroLocalServico" class="tab-pane fade"
                [ngClass]="{'show active': isCadastroLocalServico}" id="cadastro">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>Cadastro de Local de Serviço</h2>
                    </div>
                </div>
                <form (ngSubmit)="cadastrarLocalServico()" #form="ngForm"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="row">
                        <div class="col-12">
                            <label for="centroDeCusto">Centro de Custo</label>
                            <select style="height: 40px" name="centroDeCusto" id="centroDeCusto" required
                                matTooltip="Centro de custo" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroLocalServico.costCenter">
                                <option value="" disabled selected>Selecione uma construtora</option>
                                <option *ngFor="let centroCusto of listaCentrosDeCusto" [ngValue]="centroCusto">
                                    {{centroCusto.costCenterName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="grupo">1º Nível de localização *</label>
                            <input type="text" name="grupo" id="grupo" required matTooltip="1º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.locationGroup"
                                placeholder="Ex: Pavimento">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo1">2º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="2º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup1"
                                placeholder="Ex: Apartamento 101">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo2">3º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo2" id="subGrupo2" matTooltip="3º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup2"
                                placeholder="Ex: Cozinha">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo3">4º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo3" id="subGrupo3" matTooltip="4º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup3"
                                placeholder="Usado apenas em casos onde é necessário um maior detalhamento do cômodo">
                        </div>
                    </div>
                    <div class="row centralizar-conteudo">
                        <div class="col-6 centralizar-conteudo">
                            <button class="btn-confirm" type="submit">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="!isCadastroLocalServico" [ngClass]="{'show active': !isCadastroLocalServico}"
                class="tab-pane fade" id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>Locais cadastrados</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table mat-table [dataSource]="listaLocalServico" class="mat-elevation-z8">
                                <ng-container matColumnDef="acoes">
                                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Editar" matTooltipShowDelay="1500"
                                            (click)="modalEditarLocalServico(element)" style="cursor: pointer;">
                                            edit-note
                                        </mat-icon>
                                        <mat-icon class="icones-acoes" matTooltip="Excluir" matTooltipShowDelay="1500"
                                            (click)="excluirLocalServico(element.id)" style="cursor: pointer;">
                                            delete
                                        </mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>1º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>1º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>2º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>3º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup2}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup3">
                                    <th mat-header-cell *matHeaderCellDef>4º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup3}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição de Locais-->
<div #modalEditarDetalhes>
    <div *ngIf="renderModalVisualizar" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h4 style="padding-left: 15px;">Dados do Local de Serviço</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="centroDeCusto">Centro de Custo</label>
                <select style="height: 40px" name="centroDeCusto" id="centroDeCusto" required
                    matTooltip="Centro de custo" matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.costCenter">
                    <option *ngFor="let centroCusto of listaCentrosDeCusto" [ngValue]="centroCusto">
                        {{centroCusto.costCenterName}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="grupo">1º Nível de localização *</label>
                <input type="text" name="grupo" id="grupo" required matTooltip="1º Nível de localização"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.locationGroup" placeholder="Ex: Pavimento"
                    [disabled]="indDesabilitaCampos">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo1">2º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="2º Nível de localização"
                    matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos"
                    [(ngModel)]="localServicoModel.subGroup1" placeholder="Ex: Apartamento 101">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo2">3º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo2" id="subGrupo2" [disabled]="indDesabilitaCampos"
                    matTooltip="3º Nível de localização" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup2" placeholder="Ex: Cozinha">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo3">4º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo3" id="subGrupo3" [disabled]="indDesabilitaCampos"
                    matTooltip="4º Nível de localização" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup3"
                    placeholder="Usado apenas em casos onde é necessário um maior detalhamento do cômodo">
            </div>
        </div>
    </div>
</div>