<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': isCadastroLocalServico}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba()">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': !isCadastroLocalServico}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba()">Consulta</a>
            </li>
        </ul>
        <!-- ABA DE CADASTRO -->
        <div class="tab-content">
            <div *ngIf="isCadastroLocalServico" class="tab-pane fade"
                [ngClass]="{'show active': isCadastroLocalServico}" id="cadastro">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Cadastro de Local de Serviço</h1>
                        <hr style="margin-left: 25px;">
                    </div>
                </div>
                <form (ngSubmit)="cadastrarLocalServico()" #form="ngForm"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="row">
                        <div class="col-12">
                            <label for="construtora">Construtora<span style="color: red;">*</span></label>
                            <select style="height: 40px" name="construtora" id="construtora" required
                                matTooltip="Centro de custo" matTooltipShowDelay="1500"
                                [(ngModel)]="construtoraSelecionada" (ngModelChange)="onConstrutoraChange()">
                                <option value="" disabled selected>Selecione uma construtora</option>
                                <option *ngFor="let construtora of listaConstrutoras" [ngValue]="construtora">
                                    {{construtora.builderName}}
                                </option>
                        </select>
                        </div>
                        <div class="col-12">
                            <label for="centroDeCusto">Centro de Custo<span style="color: red;">*</span></label>
                            <select style="height: 40px" name="centroDeCusto" id="centroDeCusto" required
                                matTooltip="Centro de custo" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroLocalServico.costCenter" [disabled]="!construtoraSelecionada.id">
                                <option value="" disabled selected>Selecione um Centro de Custo</option>
                                <option *ngFor="let centroCusto of listaCentrosDeCustoFiltrados" [ngValue]="centroCusto">
                                    {{centroCusto.costCenterName}}
                                </option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="grupo">1º Nível de localização<span style="color: red;">*</span></label>
                            <input type="text" name="grupo" id="grupo" required matTooltip="1º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.locationGroup"
                                placeholder="Ex: Pavimento" [disabled]="!cadastroLocalServico.costCenter.id">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo1">2º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="2º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup1"
                                placeholder="Ex: Apartamento 101" [disabled]="cadastroLocalServico.locationGroup.length < 1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo2">3º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo2" id="subGrupo2" matTooltip="3º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup2"
                                placeholder="Ex: Cozinha" [disabled]="!cadastroLocalServico.subGroup1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="subGrupo3">4º Nível de localização (Opcional)</label>
                            <input type="text" name="subGrupo3" id="subGrupo3" matTooltip="4º Nível de localização"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroLocalServico.subGroup3"
                                placeholder="Usado apenas em casos onde é necessário um maior detalhamento do cômodo"
                                [disabled]="!cadastroLocalServico.subGroup2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <button class="btn-cancel" type="button" (click)="limparCampos()">Limpar campos</button>
                        </div>
                        <div class="col-6">
                          <button class="btn-confirm" type="buttton">Cadastrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ABA DE CONSULTA -->
            <div *ngIf="!isCadastroLocalServico" [ngClass]="{'show active': !isCadastroLocalServico}"
                class="tab-pane fade" id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>Locais cadastrados</h1>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label for="filterTableConstrutora">Filtrar por Construtora:</label>
                            <select name="filterTableConstrutora" id="filterTableConstrutora" (change)="onFiltroConstrutoraChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let construtora of listaConstrutorasConsulta" [value]="construtora.builderName">
                                    {{construtora.builderName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroConstrutoraSelecionado">
                            <label for="filterTableCostCenter">Filtrar por Centro de Custo:</label>
                            <select name="filterTableCostCenter" id="filterTableCostCenter" (change)="onFiltroCostCenterChange($event)">
                                <option>Todos</option>
                                <option *ngFor="let centroDeCusto of listaCentrosDeCustoFiltradaConsulta" [value]="centroDeCusto.costCenterName">
                                    {{centroDeCusto.costCenterName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-4" *ngIf="filtroCentroCustoSelecionado && listaLocationGroupFiltradaConsulta.length > 0">
                            <label for="filterTable1">Filtrar pelo 1º Nível:</label>
                            <select name="filterTable1" id="filterTable1" (change)="onFiltroLocationGroupChange($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let locationGroup of listaLocationGroupFiltradaConsulta" [value]="locationGroup.locationGroup">
                                    {{locationGroup.locationGroup}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" *ngIf="filtroLocationGroup && listaSubGroup1FiltradaConsulta.length > 0">
                            <label for="filterTable2">Filtrar pelo 2º Nível:</label>
                            <select name="filterTable2" id="filterTable2" (change)="onFiltroSubGroup1Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup1 of listaSubGroup1FiltradaConsulta" [value]="subGroup1">
                                    {{subGroup1}}
                                </option>
                            </select>
                        </div>
                        
                        <div class="col-4" *ngIf="filtroSubGroup1 && listaSubGroup2FiltradaConsulta.length > 0">
                            <label for="filterTable3">Filtrar pelo 3º Nível:</label>
                            <select name="filterTable3" id="filterTable3" (change)="onFiltroSubGroup2Change($event)">
                                <option value="">Todos</option>
                                <option *ngFor="let subGroup2 of listaSubGroup2FiltradaConsulta" [value]="subGroup2">
                                    {{subGroup2}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="listaLocalServicoFiltrada.length > 0">
                        <div class="col-12 table-responsive">
                            <table mat-table [dataSource]="listaLocalServicoFiltrada" class="mat-elevation-z8">
                                <ng-container matColumnDef="acoes">
                                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="Editar" matTooltipShowDelay="1500"
                                            (click)="modalEditarLocalServico(element)" style="cursor: pointer;">
                                            edit-note
                                        </mat-icon>
                                        <mat-icon class="icones-acoes" matTooltip="Excluir" matTooltipShowDelay="1500"
                                            (click)="excluirLocalServico(element.id)" style="cursor: pointer;">
                                            delete
                                        </mat-icon>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="costCenter">
                                    <th mat-header-cell *matHeaderCellDef>Centro de Custo</th>
                                    <td mat-cell *matCellDef="let element"> {{element.costCenter.costCenterName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="locationGroup">
                                    <th mat-header-cell *matHeaderCellDef>1º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.locationGroup}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup1">
                                    <th mat-header-cell *matHeaderCellDef>2º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup1}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup2">
                                    <th mat-header-cell *matHeaderCellDef>3º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup2}} </td>
                                </ng-container>

                                <ng-container matColumnDef="subGroup3">
                                    <th mat-header-cell *matHeaderCellDef>4º Nível</th>
                                    <td mat-cell *matCellDef="let element"> {{element.subGroup3}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" *ngIf="listaLocalServicoFiltrada.length === 0">
                        <h3>
                            Nenhum local de serviço encontrado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição de Locais-->
<div #modalEditarDetalhes>
    <div *ngIf="renderModalVisualizar" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">Dados do Local de Serviço</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="construtoraModalEdicao">Construtora<span style="color: red;">*</span></label>
                <input type="text" name="construtoraModalEdicao" id="construtoraModalEdicao" required matTooltip="Construtora"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.costCenter.builder.builderName" placeholder="Construtora"
                    disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="centroDeCustoModalEdicao">Centro de Custo<span style="color: red;">*</span></label>
                <input type="text" name="centroDeCustoModalEdicao" id="centroDeCustoModalEdicao" required matTooltip="Obra"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.costCenter.costCenterName" placeholder="Obra"
                    disabled="disabled">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="grupo">1º Nível de localização<span style="color: red;">*</span></label>
                <input type="text" name="grupo" id="grupo" required matTooltip="1º Nível de localização"
                    matTooltipShowDelay="1500" [(ngModel)]="localServicoModel.locationGroup" placeholder="Ex: Pavimento"
                    [disabled]="indDesabilitaCampos">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo1">2º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo1" id="subGrupo1" matTooltip="2º Nível de localização"
                    matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos"
                    [(ngModel)]="localServicoModel.subGroup1" placeholder="Ex: Apartamento 101">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo2">3º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo2" id="subGrupo2" [disabled]="indDesabilitaCampos"
                    matTooltip="3º Nível de localização" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup2" placeholder="Ex: Cozinha">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="subGrupo3">4º Nível de localização (Opcional)</label>
                <input type="text" name="subGrupo3" id="subGrupo3" [disabled]="indDesabilitaCampos"
                    matTooltip="4º Nível de localização" matTooltipShowDelay="1500"
                    [(ngModel)]="localServicoModel.subGroup3"
                    placeholder="Usado apenas em casos onde é necessário um maior detalhamento do cômodo">
            </div>
        </div>
    </div>
</div>