@import '../../variables.scss';
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: $navbar-height;
    background-color: $background-color-light;
    z-index: 1;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    padding-left: 0;
    padding-right: 2%;
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.user-menu {
    display: flex;
    align-items: center;
}
  
.user-menu .profile-picture {
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.image-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
  
.profile-picture:hover {
    filter: brightness(0.8);
}
