@import '../../variables.scss';
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: $navbar-height;
    background-color: $background-color;
    z-index: 1;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right: 2%;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

