<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!isNotHomeOrLogin() && !isHomePage()">
      <a routerLink="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item" *ngIf="isHomePage()">
      <a routerLink="login" class="nav-link">Cadastre-se | Login</a>
    </li>
    <li class="nav-item" *ngIf="isNotHomeOrLogin()">
      <div class="user-menu" mat-button [matMenuTriggerFor]="userMenu">
        <div class="image-container">
          <img class="profile-picture" [src]="profilePicture">
        </div>
        <a class="nav-link">{{ perfilUsuario.name }}</a>
      </div>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item routerLink="/perfilUsuario">Perfil de usuário</a>
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
    </li>
    <li class="nav-item" *ngIf="isNotHomeOrLogin()" matTooltip="Configurações" matTooltipShowDelay="1500">
      <a routerLink="configuracao" class="nav-link">
        <span style="font-size: 35px;" class="material-symbols-outlined">
        settings
        </span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isNotHomeOrLogin()" matTooltip="Idioma" matTooltipShowDelay="1500">
      <app-language-selector (languageChange)="onLanguageChange($event)"></app-language-selector>
    </li>
  </ul>
</nav>