<!DOCTYPE html>
<html>
	<body>
		<div class="main">  	
			<input type="checkbox" id="chk" aria-hidden="true">
			<div class="login">
				<form [formGroup]="loginForm">
					<label for="chk" aria-hidden="true">Login</label>
					<input formControlName="email" type="email" name="email" placeholder="Email" required="">
					<input formControlName="password" type="password" name="password" placeholder="Senha" required="">
					<button (click)="signIn()">Entrar</button>
				</form>
			</div>
			<div class="signup">
				<app-cadastro-usuario></app-cadastro-usuario>
			</div>
		</div>
	</body>
</html>