<!DOCTYPE html>
<html>
	<body>
		<div class="main">
			<input type="checkbox" id="chk" aria-hidden="true">
			<div class="login">
				<form [formGroup]="loginForm">
					<label style="padding-bottom: 30px;" for="chk" aria-hidden="true">Login</label>
					<input formControlName="email" type="email" name="email" placeholder="Email" required="">
					<input formControlName="password" type="password" name="password" placeholder="Senha" required="">
					<a (click)="recuperarSenha()" style="cursor: pointer; color: blue; text-decoration: underline; display: block; padding-top: 5px; text-align: right; margin-left: auto; margin-right: 60px;">Esqueci minha senha</a>
					<button style="margin-top: 30px;" (click)="signIn()">Entrar</button>
				</form>
			</div>
			<div class="signup">
				<app-cadastro-usuario></app-cadastro-usuario>
			</div>
		</div>
	</body>
</html>