<div class="sidebar-slider" [class.sidebar-slide-in]="isSidebarOpen">
  <div class="sidebar-opener" (click)="isSidebarOpen = !isSidebarOpen">
    <span *ngIf="isSidebarOpen" class="material-symbols-outlined" style="color: white; font-size: 50px;"
      matTooltip="Recolher menu lateral" matTooltipShowDelay="1500">
      arrow_circle_left
    </span>
    <span *ngIf="!isSidebarOpen" class="material-symbols-outlined" style="color: white; font-size: 50px;"
      matTooltip="Recolher menu lateral" matTooltipShowDelay="1500">
      arrow_circle_right
    </span>
  </div>
  <div *ngIf="isSidebarOpen" class="sidebar-content">
    <div class="menu-logo">
      <img src="..\assets\LogoAsBuiltSemFundoBranca.png" alt="Logo" height="44px" width="130px">
    </div>
    <button class="menu-item" routerLink="/dashboard">
      <mat-icon class="icons">bar_chart_4_bars</mat-icon>
      <span>Dashboard</span>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item" routerLink="/avaliacao">
      <mat-icon class="icons">done_outline</mat-icon>
      <span>Avaliações</span>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item" routerLink="/servico">
      <mat-icon class="icons">build</mat-icon>
      <span>Serviços</span>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item" routerLink="/unidadeDeMedida">
      <mat-icon class="icons">square_foot</mat-icon>
      <span>Und. de Medida</span>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item" routerLink="/tipoServico">
      <mat-icon class="icons">handyman</mat-icon>
      <span>Tipos de Serviço</span>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item" routerLink="/localServico">
      <mat-icon class="icons">map</mat-icon>
      <span>Locais de Serviço</span>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item" routerLink="/centroCusto">
      <mat-icon class="icons">apartment</mat-icon>
      <span>Centros de Custo</span>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item" routerLink="/construtora">
      <mat-icon class="icons">engineering</mat-icon>
      <span>Construtoras</span>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item" routerLink="/cronograma">
      <mat-icon class="icons">timeline</mat-icon>
      <span>Cronograma</span>
    </button>
    <button class="menu-item" routerLink="/relatorio-producao">
      <mat-icon class="icons">description</mat-icon>
      <span>Relatório de Prod.</span>
    </button>
  </div>
  <!-- CLOSED SIDEBAR -->
  <div *ngIf="!isSidebarOpen" class="sidebar-content-closed">
    <div class="menu-logo-sidebar-closed">
      <img class="logo" src="..\assets\LogoAsBuiltSemFundoBrancaQuad.png" alt="Logo" height="44px" width="49px">
    </div>
    <button  class="menu-item-sidebar-closed" routerLink="/dashboard" matTooltip="Dashboard"
    matTooltipShowDelay="1500">
    <mat-icon class="icons">bar_chart_4_bars</mat-icon>
  </button>
    <button  *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item-sidebar-closed" routerLink="/avaliacao" matTooltip="Avaliações"
    matTooltipShowDelay="1500">
    <mat-icon class="icons">done_outline</mat-icon>
  </button>
    <button  *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item-sidebar-closed" routerLink="/servico" matTooltip="Serviços"
      matTooltipShowDelay="1500">
      <mat-icon class="icons">build</mat-icon>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item-sidebar-closed" routerLink="/unidadeDeMedida" matTooltip="Unidades de Medida"
    matTooltipShowDelay="1500">
    <mat-icon class="icons">square_foot</mat-icon>
  </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item-sidebar-closed" routerLink="/tipoServico" matTooltip="Tipos de serviço"
      matTooltipShowDelay="1500">
      <mat-icon class="icons">handyman</mat-icon>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item-sidebar-closed" routerLink="/localServico" matTooltip="Locais de serviço"
      matTooltipShowDelay="1500">
      <mat-icon class="icons">map</mat-icon>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item-sidebar-closed" routerLink="/centroCusto" matTooltip="Centros de custo"
      matTooltipShowDelay="1500">
      <mat-icon class="icons">apartment</mat-icon>
    </button>
    <button *ngIf="userRole == 'ADMIN'" class="menu-item-sidebar-closed" routerLink="/construtora" matTooltip="Construtoras e Proprietários"
      matTooltipShowDelay="1500">
      <mat-icon class="icons">engineering</mat-icon>
    </button>
    <button *ngIf="userRole == 'ADMIN' || userRole == 'CONFERENTE'" class="menu-item-sidebar-closed" routerLink="/cronograma" matTooltip="Cronograma de obras"
    matTooltipShowDelay="1500">
    <mat-icon class="icons">timeline</mat-icon>
  </button>
  <button class="menu-item-sidebar-closed" routerLink="/relatorio-producao" matTooltip="Relatório de Produção"
  matTooltipShowDelay="1500">
  <mat-icon class="icons">description</mat-icon>
</button>
  </div>
</div>