<!-- <div style="display: flex;">
  <div class="sidebar-opener" (click)="sidebarShow = !sidebarShow">
    Exibir Sidebar
  </div>

  <div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
    <div
        class="sidebar-close"
        (click)="sidebarShow = !sidebarShow"
    >
        X
    </div>
      <div class="sidebar-content">
        <h2><a routerLink="/cadastroservico">Serviços</a></h2>
        <h2><a routerLink="/cadastroCentroCusto">Centros de Custo</a></h2>
      </div>
  </div> -->
