@import '../../variables.scss';
* {
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.sidebar-opener {
  cursor: pointer;
  margin-left: $sidebar-width;
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #FF6347, #5F9EA0);
  transform: translateX(-75%);
  transition: ease-in-out 1200ms transform;
  width: $sidebar-width;
  z-index: 2;
  box-shadow: 5px 20px 50px #000;
  height: 100%;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 1200ms transform;
}

.sidebar-content {
  display: flex;
  align-items: left;
  flex-direction: column;
  color: white;
  font-size: 16px;
  padding: 16px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}