* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.sidebar-opener {
  cursor: pointer;
  margin-left: 260px
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #696969, #363636, #1C1C1C);
  transform: translateX(-100%);
  transition: ease-in-out 1200ms transform;
  width: 260px;
  z-index: 2;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 1200ms transform;
}

.sidebar-content {
  display: flex;
  align-items: left;
  flex-direction: column;
  color: white;
  font-size: 16px;
  padding: 16px;
  height: 100%;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}