* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

.sidebar-opener {
  cursor: pointer;
}

.sidebar-slider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  width: 200px;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
  padding: 16px;
}

.sidebar-content {
  display: flex;
  align-items: center;
  // justify-content: space-around;
  flex-direction: column;
  color: white;
  font-size: 16px;
  padding: 16px;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}