<div class="corpo">
    <div class="container conteudo">
        <div class="row centralizar-conteudo">
            <div class="col-12 titulo">
                <h1>Perfil de Usuário</h1>
                <hr style="margin-left: 12.5px; margin-right: 12.5px;">
            </div>
        </div>
        <form (ngSubmit)="updatePerfilUsuarioFoto()" #form="ngForm"
            style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div class="row">
                <div class="col-7">
                    <label for="userImage">Imagem</label>
                    <input type="file" id="userImage" name="userImage" accept="image/*" (change)="handleFileInput($event.target)">
                    <img [src]="imageUrl" alt="Imagem Baixada" width="150px">
                </div>
                <div class="col-3 centralizar-conteudo">
                    <button class="btn-confirm" type="submit" [disabled]="fileIsLoading">Atualizar foto</button>
                </div>
            </div>
        </form>
        <form (ngSubmit)="updatePerfilUsuario()" #form="ngForm"
            style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">

            <div class="row">
                <div class="col-6">
                    <label for="userName">Nome *</label>
                    <input type="text" name="userName" id="userName" required matTooltip="Nome completo"
                        matTooltipShowDelay="1500" [(ngModel)]="perfilUsuario.name">
                </div>
                <div class="col-3">
                    <label for="cpf">CPF *</label>
                    <input type="text" name="cpf" id="cpf" required matTooltip="CPF" matTooltipShowDelay="1500"
                        [(ngModel)]="perfilUsuario.cpf">
                </div>
                <div class="col-3">
                    <label for="phone">Telefone *</label>
                    <input type="text" name="phone" id="phone" required matTooltip="CPF" matTooltipShowDelay="1500"
                        [(ngModel)]="perfilUsuario.phone">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="email">E-mail *</label>
                    <input type="email" name="email" id="email" required matTooltip="E-mail" matTooltipShowDelay="1500"
                        [(ngModel)]="perfilUsuario.email">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr style="margin-left: 25px;">
                    <h2 style="padding-left: 15px;">Endereço</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="cep">CEP *</label>
                    <input type="text" name="cep" id="cep" mask="00.000-000" required matTooltip="CEP"
                        matTooltipShowDelay="1500" placeholder="00.000-000"
                        [(ngModel)]="perfilUsuario.userAddress.postalCode">
                </div>
                <div class="col-7">
                    <label for="logradouro">Logradouro *</label>
                    <input type="text" name="logradouro" id="logradouro" required placeholder="Rua Exemplo"
                        matTooltip="Rua, Avenida, Travessa, Alameda" matTooltipShowDelay="1500"
                        [(ngModel)]="perfilUsuario.userAddress.street">
                </div>
                <div class="col-2">
                    <label for="numero">Número *</label>
                    <input type="number" name="numero" id="numero" required matTooltip="Para 'Sem Número' inserir '0'"
                        matTooltipShowDelay="1500" [(ngModel)]="perfilUsuario.userAddress.number" min="0"
                        (keypress)="numberOnly($event)">
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <label for="cidade">Cidade *</label>
                    <input type="text" name="cidade" id="cidade" required matTooltip="Cidade" matTooltipShowDelay="1500"
                        placeholder="Cidade" [(ngModel)]="perfilUsuario.userAddress.city">
                </div>
                <div class="col-2">
                    <label for="estado">UF *</label>
                    <select name="estado" [(ngModel)]="perfilUsuario.userAddress.state">
                        <option *ngFor="let estado of estadosBrasileiros" [value]="estado">{{estado}}</option>
                    </select>
                </div>
            </div>
            <div class="row centralizar-conteudo">
                <div class="col-6 centralizar-conteudo">
                    <button class="btn-confirm" type="submit">Atualizar dados</button>
                </div>
            </div>
        </form>
    </div>
</div>