<div class="corpo">
    <div class="container conteudo">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': iscadastroTipoDeServico}" id="cadastro-tab" data-toggle="tab"
                    (click)="mudarAba()">{{ 'SERVICE-TYPES.CADASTRO' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': !iscadastroTipoDeServico}" id="consulta-tab" data-toggle="tab"
                    (click)="mudarAba()">{{ 'SERVICE-TYPES.CONSULTA' | translate }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div *ngIf="iscadastroTipoDeServico" class="tab-pane fade"
                [ngClass]="{'show active': iscadastroTipoDeServico}" id="cadastro">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>{{ 'SERVICE-TYPES.CADASTRO_TIPO_SERVICO' | translate }}</h1>
                        <hr style="margin-left: 25px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 style="padding-left: 15px;">{{ 'SERVICE-TYPES.DADOS_TIPO_SERVICO' | translate }}</h2>
                    </div>
                </div>
                <form (ngSubmit)="cadastrarTipoDeServico()" #form="ngForm"
                    style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
                    <div class="row">
                        <div class="col-6">
                            <label for="taskTypeName">{{ 'SERVICE-TYPES.NOME_TIPO_SERVICO' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="taskTypeName" id="taskTypeName" required
                                matTooltip="{{ 'SERVICE-TYPES.NOME_TIPO_SERVICO' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroTipoDeServico.taskTypeName" placeholder="{{ 'SERVICE-TYPES.EXEMPLO_ALVENARIA' | translate }}">
                        </div>
                        <div class="col-6">
                            <label for="unitMeasurement">{{ 'SERVICE-TYPES.UNIDADE_MEDIDA' | translate }}<span style="color: red;">*</span></label>
                            <select style="height: 40px" name="unitMeasurement" id="unitMeasurement" required
                                matTooltip="{{ 'SERVICE-TYPES.UNIDADE_MEDIDA' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroTipoDeServico.unitMeasurement">
                                <option value="" disabled selected>{{ 'SERVICE-TYPES.SELECIONE_UNIDADE_MEDIDA' | translate }}</option>
                                <option *ngFor="let unitMeasurement of listaUnidadesDeMedida"
                                    [ngValue]="unitMeasurement">
                                    {{unitMeasurement.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="taskTypeDescription">{{ 'SERVICE-TYPES.DESCRICAO' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="taskTypeDescription" id="taskTypeDescription"
                                matTooltip="{{ 'SERVICE-TYPES.DESCRICAO_TIPO_SERVICO' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroTipoDeServico.taskTypeDescription" required
                                placeholder="{{ 'SERVICE-TYPES.EXEMPLO_PAREDE_CERAMICA' | translate }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="comments">{{ 'SERVICE-TYPES.OBSERVACOES' | translate }}</label>
                            <textarea type="text" name="comments" id="comments" matTooltip="{{ 'SERVICE-TYPES.OBSERVACOES_GERAIS' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroTipoDeServico.comments"
                                placeholder="{{ 'SERVICE-TYPES.OBSERVACAO_PERTINENTE' | translate }}"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr style="margin-left: 25px;">
                            <h2 style="padding-left: 15px;">{{ 'SERVICE-TYPES.PARAMETROS_AVALIACAO' | translate }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="param1">{{ 'SERVICE-TYPES.PARAM1' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="param1" id="param1" matTooltip="{{ 'SERVICE-TYPES.PARAM1' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroTipoDeServico.parameter0Name"
                                placeholder="{{ 'SERVICE-TYPES.EX_PRUMO' | translate }}" required>
                        </div>
                        <div class="col-6">
                            <label for="param2">{{ 'SERVICE-TYPES.PARAM2' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="param2" id="param2" matTooltip="{{ 'SERVICE-TYPES.PARAM2' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroTipoDeServico.parameter1Name"
                                placeholder="{{ 'SERVICE-TYPES.EX_NIVEL' | translate }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="param3">{{ 'SERVICE-TYPES.PARAM3' | translate }}<span style="color: red;">*</span></label>
                            <input type="text" name="param3" id="param3" matTooltip="{{ 'SERVICE-TYPES.PARAM3' | translate }}"
                                matTooltipShowDelay="1500" [(ngModel)]="cadastroTipoDeServico.parameter2Name"
                                placeholder="{{ 'SERVICE-TYPES.EX_ESQUADRO' | translate }}" required>
                        </div>
                        <div class="col-6" *ngFor="let parameter of additionalParameters; index as i">
                            <label [for]="'parameter' + parameter + 'Name'">{{parameter + 1}}º {{ 'SERVICE-TYPES.PARAM_AVALIACAO' | translate }}</label>
                            <input type="text" [name]="'parameter' + parameter + 'Name'"
                                [id]="'parameter' + parameter + 'Name'"
                                matTooltip="{{parameter + 1}}º {{ 'SERVICE-TYPES.PARAM_AVALIACAO' | translate }}" matTooltipShowDelay="1500"
                                [(ngModel)]="cadastroTipoDeServico['parameter' + parameter + 'Name']"
                                placeholder="{{ 'SERVICE-TYPES.EX_NIVEL' | translate }}">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-2">
                            <mat-icon *ngIf="additionalParameters.length <= 6" class="botoes-parametros add"
                                matTooltip="{{ 'SERVICE-TYPES.ADD_PARAM' | translate }}" matTooltipShowDelay="500" (click)="addParameter()"
                                style="cursor: pointer;">
                                add_circle
                            </mat-icon>
                            <mat-icon *ngIf="additionalParameters.length > 0" class="botoes-parametros remove"
                                matTooltip="{{ 'SERVICE-TYPES.REMOVE_PARAM' | translate }}" matTooltipShowDelay="500" (click)="removeParameter()"
                                style="cursor: pointer;">
                                remove_circle
                            </mat-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn-cancel" type="button" (click)="limparCampos()">{{ 'SERVICE-TYPES.LIMPAR_CAMPOS' | translate }}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn-confirm" type="button" (click)="cadastrarTipoDeServico()">{{ 'SERVICE-TYPES.CADASTRAR' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="!iscadastroTipoDeServico" [ngClass]="{'show active': !iscadastroTipoDeServico}"
                class="tab-pane fade" id="consulta">
                <div class="row centralizar-conteudo">
                    <div class="col-12 titulo">
                        <h1>{{ 'SERVICE-TYPES.REGISTERED_TYPES' | translate }}</h1>
                    </div>
                    <div class="row" *ngIf="listaTipoDeServico.length > 0">
                        <div class="col-12 table-responsive">
                            <table mat-table [dataSource]="listaTipoDeServico" class="mat-elevation-z8">
                                <ng-container matColumnDef="acoes">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-TYPES.ACTIONS' | translate }}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon class="icones-acoes" matTooltip="{{ 'SERVICE-TYPES.VIEW_DETAILS' | translate }}"
                                            matTooltipShowDelay="1500" (click)="visualizarDetalhes(element)" style="cursor: pointer;">
                                            visibility
                                        </mat-icon>
                                        <mat-icon class="icones-acoes" matTooltip="{{ 'SERVICE-TYPES.EDIT' | translate }}" matTooltipShowDelay="1500"
                                            (click)="modalEditarTipoDeServico(element)" style="cursor: pointer;">
                                            edit-note
                                        </mat-icon>
                                        <mat-icon class="icones-acoes" matTooltip="{{ 'SERVICE-TYPES.DELETE' | translate }}" matTooltipShowDelay="1500"
                                            (click)="excluirTipoDeServico(element.id)" style="cursor: pointer;">
                                            delete
                                        </mat-icon>
                                    </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="taskTypeName">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-TYPES.NAME' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskTypeName}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="taskTypeDescription">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-TYPES.DESCRIPTION' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.taskTypeDescription}} </td>
                                </ng-container>
                            
                                <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'SERVICE-TYPES.UNIT_MEASUREMENT' | translate }}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.unitMeasurement.name}} </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                    <div class="row centralizar-conteudo" *ngIf="listaTipoDeServico.length === 0">
                        <h3>{{ 'SERVICE-TYPES.NO_SERVICE_FOUND' | translate }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição de Locais-->
<div #modalVisualizarDetalhes>
    <div *ngIf="renderModalVisualizar" class="modal-body text-left modal-scroll">
        <div class="row">
            <div class="col-12">
                <hr style="margin-left: 25px;">
                <h2 style="padding-left: 15px;">{{ 'SERVICE-TYPES.SERVICE_TYPE_DATA' | translate }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="taskTypeName">{{ 'SERVICE-TYPES.SERVICE_TYPE_NAME' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="taskTypeName" id="taskTypeName" required matTooltip="{{ 'SERVICE-TYPES.SERVICE_TYPE_NAME_TOOLTIP' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="tipoServicoModel.taskTypeName" placeholder="{{ 'SERVICE-TYPES.SERVICE_TYPE_NAME_PLACEHOLDER' | translate }}"
                    [disabled]="indDesabilitaCampos" required>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="taskTypeDescription">{{ 'SERVICE-TYPES.SERVICE_TYPE_DESCRIPTION' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="taskTypeDescription" id="taskTypeDescription"
                    matTooltip="{{ 'SERVICE-TYPES.SERVICE_TYPE_DESCRIPTION_TOOLTIP' | translate }}" matTooltipShowDelay="1500"
                    [disabled]="indDesabilitaCampos" required [(ngModel)]="tipoServicoModel.taskTypeDescription"
                    placeholder="{{ 'SERVICE-TYPES.SERVICE_TYPE_DESCRIPTION_PLACEHOLDER' | translate }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="unitMeasurement">{{ 'SERVICE-TYPES.UNIT_MEASUREMENT' | translate }}<span style="color: red;">*</span></label>
                <select style="height: 40px" name="unitMeasurement" id="unitMeasurement" required
                    matTooltip="{{ 'SERVICE-TYPES.UNIT_MEASUREMENT_TOOLTIP' | translate }}" matTooltipShowDelay="1500"
                    [(ngModel)]="tipoServicoModel.unitMeasurement" [disabled]="indDesabilitaCampos">
                    <option value="" disabled selected>{{ 'SERVICE-TYPES.SELECT_UNIT_MEASUREMENT' | translate }}</option>
                    <option *ngFor="let unitMeasurement of listaUnidadesDeMedida" [ngValue]="unitMeasurement">
                        {{unitMeasurement.description}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="comments">{{ 'SERVICE-TYPES.COMMENTS' | translate }}</label>
                <textarea type="text" name="comments" id="comments" matTooltip="{{ 'SERVICE-TYPES.COMMENTS_TOOLTIP' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="tipoServicoModel.comments" [disabled]="indDesabilitaCampos"
                    placeholder="{{ 'SERVICE-TYPES.COMMENTS_PLACEHOLDER' | translate }}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="param1">{{ 'SERVICE-TYPES.PARAM1' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="param1" id="param1" matTooltip="{{ 'SERVICE-TYPES.PARAM1_TOOLTIP' | translate }}"
                    matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos" required
                    [(ngModel)]="tipoServicoModel.parameter0Name" placeholder="{{ 'SERVICE-TYPES.PARAM1_PLACEHOLDER' | translate }}">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="param2">{{ 'SERVICE-TYPES.PARAM2' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="param2" id="param2" matTooltip="{{ 'SERVICE-TYPES.PARAM2_TOOLTIP' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="tipoServicoModel.parameter1Name" placeholder="{{ 'SERVICE-TYPES.PARAM2_PLACEHOLDER' | translate }}"
                    [disabled]="indDesabilitaCampos" required>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="param3">{{ 'SERVICE-TYPES.PARAM3' | translate }}<span style="color: red;">*</span></label>
                <input type="text" name="param3" id="param3" matTooltip="{{ 'SERVICE-TYPES.PARAM3_TOOLTIP' | translate }}"
                    matTooltipShowDelay="1500" [(ngModel)]="tipoServicoModel.parameter2Name" placeholder="{{ 'SERVICE-TYPES.PARAM3_PLACEHOLDER' | translate }}"
                    [disabled]="indDesabilitaCampos" required>
            </div>
        </div>
        <div class="row" *ngFor="let parameter of additionalParameters; index as i">
            <div class="col-12">
                <label [for]="'parameter' + parameter + 'Name'">{{ (parameter + 1) + 'º ' + ('SERVICE-TYPES.PARAM' | translate) }}</label>
                <input type="text" [name]="'parameter' + parameter + 'Name'" [id]="'parameter' + parameter + 'Name'"
                    matTooltip="{{ (parameter + 1) + 'º ' + ('SERVICE-TYPES.PARAM_TOOLTIP' | translate) }}" matTooltipShowDelay="1500"
                    [(ngModel)]="tipoServicoModel['parameter' + parameter + 'Name']" placeholder="{{ 'SERVICE-TYPES.PARAM_PLACEHOLDER' | translate }}"
                    [disabled]="indDesabilitaCampos">
            </div>
        </div>
    </div>
</div>