<div class="corpo">
  <div class="container conteudo">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': isCadastroConstrutora}" id="cadastro-tab" data-toggle="tab"
          (click)="mudarAba()">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': !isCadastroConstrutora}" id="consulta-tab" data-toggle="tab"
          (click)="mudarAba()">Consulta</a>
      </li>
    </ul>
    <div class="tab-content">
      <div *ngIf="isCadastroConstrutora" class="tab-pane fade" [ngClass]="{'show active': isCadastroConstrutora}"
        id="cadastro">
        <div class="row centralizar-conteudo">
          <div class="col-12">
            <h2>Cadastro de Construtora</h2>
          </div>
        </div>
        <form (ngSubmit)="cadastrarConstrutora()" #form="ngForm"
          style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between;">
          <div class="row">
            <div class="col-12">
              <hr style="margin-left: 25px;">
              <h4 style="padding-left: 15px;">Dados da Construtora</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label for="nomeConstrutora">Nome da Construtora *</label>
              <input type="text" name="nomeConstrutora" id="nomeConstrutora" required
                matTooltip="Nome da Construtora ou Empremteira" matTooltipShowDelay="1500"
                [(ngModel)]="cadastroConstrutora.builderName" placeholder="Nome da construtora">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="cnpj">CNPJ *</label>
              <input type="text" name="cnpj" id="cnpj" required mask="00.000.000/0000-00" matTooltip="CNPJ"
                matTooltipShowDelay="1500" [(ngModel)]="cadastroConstrutora.cnpj" placeholder="00.000.000/0000-00">
            </div>
            <div class="col-6">
              <label for="telefone">Telefone</label>
              <input type="text" name="telefone" id="telefone" required mask="(00) 0.0000-0000" matTooltip="Telefone"
                matTooltipShowDelay="1500" [(ngModel)]="cadastroConstrutora.phone" placeholder="(XX) 0.1234-5678">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr style="margin-left: 25px;">
              <h4 style="padding-left: 15px;">Endereço</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label for="cep">CEP *</label>
              <input type="text" name="cep" id="cep" mask="00.000-000" required matTooltip="CEP"
                matTooltipShowDelay="1500" [(ngModel)]="cadastroConstrutora.builderAddress.postalCode"
                (change)="getAddress(cadastroConstrutora.builderAddress.postalCode, false)" placeholder="00.000-000">
            </div>
          </div>
          <div class="row">
            <div class="col-7">
              <label for="logradouro">Logradouro *</label>
              <input type="text" name="logradouro" id="logradouro" required matTooltip="Rua, Avenida, Travessa, Alameda"
                matTooltipShowDelay="1500" [(ngModel)]="cadastroConstrutora.builderAddress.street"
                placeholder="Rua Exemplo">
            </div>
            <div class="col-2">
              <label for="numero">Número *</label>
              <input type="number" name="numero" id="numero" required matTooltip="Para 'Sem Número' inserir '0'"
                matTooltipShowDelay="1500" [(ngModel)]="cadastroConstrutora.builderAddress.number">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="cidade">Cidade *</label>
              <input type="text" name="cidade" id="cidade" required matTooltip="Cidade" matTooltipShowDelay="1500"
                [(ngModel)]="cadastroConstrutora.builderAddress.city" placeholder="Cidade">
            </div>
            <div class="col-2">
              <label for="estado">UF *</label>
              <select name="estado" [(ngModel)]="cadastroConstrutora.builderAddress.state">
                <option *ngFor="let estado of estadosBrasileiros" [value]="estado">{{estado}}</option>
              </select>
            </div>
          </div>
          <div class="row centralizar-conteudo">
            <div class="col-6 centralizar-conteudo">
              <button class="btn-confirm" type="submit">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!isCadastroConstrutora" [ngClass]="{'show active': !isCadastroConstrutora}" class="tab-pane fade"
        id="consulta">
        <div class="row centralizar-conteudo">
          <div class="col-12">
            <h2>Construtoras cadastradas</h2>
          </div>
          <div class="row">
            <div class="col-12">
              <table mat-table [dataSource]="listaConstrutoras" class="mat-elevation-z8">
                <ng-container matColumnDef="acoes">
                  <th mat-header-cell *matHeaderCellDef>Ações</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon class="icones-acoes" matTooltip="Visualizar detalhes" matTooltipShowDelay="1500"
                      (click)="visualizarDetalhes(element)" style="cursor: pointer;">
                      visibility
                    </mat-icon>
                    <mat-icon class="icones-acoes" matTooltip="Editar" matTooltipShowDelay="1500"
                      (click)="modalEditarConstrutora(element)" style="cursor: pointer;">
                      edit-note
                    </mat-icon>
                    <mat-icon class="icones-acoes" matTooltip="Excluir construtora" matTooltipShowDelay="1500"
                      (click)="excluirConstrutora(element.id)" style="cursor: pointer;">
                      delete
                    </mat-icon>
                  </td>
                </ng-container>
                <ng-container matColumnDef="builderName">
                  <th mat-header-cell *matHeaderCellDef>Nome</th>
                  <td mat-cell *matCellDef="let element"> {{element.builderName}} </td>
                </ng-container>

                <ng-container matColumnDef="cnpj">
                  <th mat-header-cell *matHeaderCellDef>CNPJ</th>
                  <td mat-cell *matCellDef="let element"> {{element.cnpj | cnpj}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef>Telefone</th>
                  <td mat-cell *matCellDef="let element"> {{element.phone | telefone}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de visualização de detalhes da construtora -->
<div #modalVisualizarDetalhes>
  <div *ngIf="renderModalVisualizar" class="modal-body text-left modal-scroll">
    <div class="row">
      <div class="col-12">
        <hr style="margin-left: 25px;">
        <h4 style="padding-left: 15px;">Dados da Construtora</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="nomeConstrutora">Nome da Construtora</label>
        <input type="text" name="nomeConstrutora" id="nomeConstrutora" [disabled]="indDesabilitaCampos"
          matTooltip="Nome da Construtora ou Empremteira" matTooltipShowDelay="1500"
          [(ngModel)]="construtoraModel.builderName" placeholder="Nome da construtora">
      </div>
      <div class="row">
        <div class="col-6">
          <label for="cnpj">CNPJ</label>
          <input type="text" name="cnpj" id="cnpj" required mask="00.000.000/0000-00" 
            matTooltip="CNPJ" matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos"
            [(ngModel)]="construtoraModel.cnpj" placeholder="00.000.000/0000-00">
        </div>
        <div class="col-6">
          <label for="telefone">Telefone</label>
          <input type="text" name="telefone" id="telefone" required mask="(00) 0.0000-0000" 
            matTooltip="Telefone" matTooltipShowDelay="1500" [disabled]="indDesabilitaCampos"
            [(ngModel)]="construtoraModel.phone" placeholder="(XX) 0.1234-5678">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr style="margin-left: 25px;">
        <h4 style="padding-left: 15px;">Endereço</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="cep">CEP</label>
        <input type="text" name="cep" id="cep" mask="00.000-000" required matTooltip="CEP" matTooltipShowDelay="1500"
          [(ngModel)]="construtoraModel.builderAddress.postalCode" [disabled]="indDesabilitaCampos"
          (change)="getAddress(construtoraModel.builderAddress.postalCode, true)" placeholder="00.000-000">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <label for="logradouro">Logradouro</label>
        <input type="text" name="logradouro" id="logradouro" required matTooltip="Rua, Avenida, Travessa, Alameda"
          matTooltipShowDelay="1500" [(ngModel)]="construtoraModel.builderAddress.street"
          placeholder="Rua Exemplo" [disabled]="indDesabilitaCampos">
      </div>
      <div class="col-4">
        <label for="numero">Número</label>
        <input type="number" name="numero" id="numero" required matTooltip="Para 'Sem Número' inserir '0'"
          matTooltipShowDelay="1500" [(ngModel)]="construtoraModel.builderAddress.number" [disabled]="indDesabilitaCampos">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" id="cidade" required matTooltip="Cidade" matTooltipShowDelay="1500"
          [(ngModel)]="construtoraModel.builderAddress.city" placeholder="Cidade" [disabled]="indDesabilitaCampos">
      </div>
      <div class="col-4">
        <label for="estado">UF</label>
        <input name="estado" [(ngModel)]="construtoraModel.builderAddress.state" [disabled]="indDesabilitaCampos">
      </div>
    </div>
  </div>
</div>