<!-- <div class="language-selector">
    <div class="selected-language" (click)="toggleDropdown()">
        <img [src]="selectedLanguage.img" alt="{{ selectedLanguage.text }}">
        <span>{{ selectedLanguage.text }}</span>
    </div>
    <div class="dropdown" *ngIf="dropdownOpen">
        <div class="dropdown-item" *ngFor="let language of languages" (click)="selectLanguage(language)">
            <img [src]="language.img" alt="{{ language.text }}">
            <span>{{ language.text }}</span>
        </div>
    </div>
</div> -->
<div class="language-selector">
    <div class="selected-language" (click)="toggleDropdown()">
        <img [src]="getSelectedLanguageImage()" alt="{{ getSelectedLanguageText() }}">
        <span>{{ getSelectedLanguageText() }}</span>
    </div>
    <div class="dropdown" *ngIf="dropdownOpen">
        <div class="dropdown-item" *ngFor="let language of languages" (click)="changeLanguage(language.value)">
            <img [src]="language.img" alt="{{ language.text }}">
            <span>{{ language.text }}</span>
        </div>
    </div>
</div>