<div class="corpo">
    <!-- DASHBOARD DE ADMINISTRADOR -->
    <div *ngIf="isAdmin || isConferente" class="container conteudo">
        <div class="row centralizar-conteudo">
            <div class="col-12">
                <h1>{{ 'DASHBOARD_TITLE' | translate }}</h1>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 1 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'GENERAL_PRODUCTION_THIS_MONTH' | translate }}</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'TOTAL_SERVICES_EXECUTED' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ totalServicosNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'SERVICES_POSITIVE_FEEDBACK' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ totalAprovacoesNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'SERVICES_NEGATIVE_FEEDBACK' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ totalReprovacoesNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'OVERALL_APPROVAL_AVERAGE' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ mediaAprovacaoTotalNoMes | number:'1.1-1' }}%</span>
                    </div>
                </div>
            </div>
            <!-- CARD 2 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'GENERAL_PRODUCTION_THIS_MONTH' | translate }}</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'TOTAL_EXPENSES_WITH_REMUNERATION' | translate }}</span>
                    </div>
                    <div class="col-4" style="text-align: end;">
                        <span>{{ remuneracaoTotalNoMes | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'TOTAL_PRODUCED_VALUE' | translate }}</span>
                    </div>
                    <div class="col-4" style="text-align: end;">
                        <span>{{ valorTotalProduzidoNoMes | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'EFFECTIVE_TOTAL_PRODUCTION' | translate }}</span>
                    </div>
                    <div [ngClass]="{'negative-value': producaoTotalEfetivaNoMes < 0}" 
                        class="col-4" style="text-align: end;">
                        <br>
                        <span>{{ producaoTotalEfetivaNoMes | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 3 -->
            <div class="col-12 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'TOTAL_PERFORMANCE_THIS_MONTH' | translate }}</h2>
                        <hr>
                    </div>
                </div>
                <div *ngIf="producaoTotalDoMes.length > 0">
                    <canvas *ngIf="producaoTotalDoMes.length > 0" id="graficoPizzaDesempenhoDoMes"></canvas>
                </div>
                <div *ngIf="producaoTotalDoMes.length === 0">
                    <span class="material-symbols-outlined" style="font-size: 100px;">
                        clock_loader_60
                    </span>
                    <br>
                    <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                </div>
            </div>
            <!-- CARD 4 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'GENERAL_PERFORMANCE' | translate }}</h2>
                        <hr>
                    </div>
                    <div *ngIf="producaoTotal.length > 0">
                        <canvas *ngIf="producaoTotal.length > 0" id="graficoPizzaDesempenhoTotal"></canvas>
                    </div>
                    <div *ngIf="producaoTotal.length === 0">
                        <span class="material-symbols-outlined" style="font-size: 100px;">
                            clock_loader_60
                        </span>
                        <br>
                        <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 5 -->
            <div class="col-12 card-grande">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'GENERAL_PROGRESS_IN_YEAR' | translate }} {{ anoAtual }}</h2>
                        <hr>
                    </div>
                </div>
                <div *ngIf="producaoTotal.length > 0">
                    <canvas *ngIf="producaoTotal.length > 0" baseChart 
                            [datasets]="lineChartData" 
                            [labels]="lineChartLabels" 
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend" 
                            [type]="lineChartType">
                    </canvas>
                </div>
                <div *ngIf="producaoTotal.length === 0">
                    <span class="material-symbols-outlined" style="font-size: 100px;">
                        show_chart
                    </span>
                    <br>
                    <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- DASHBOARD DE FUNCIONÁRIO -->
    <div *ngIf="!isAdmin && !isConferente" class="container conteudo">
        <div class="row centralizar-conteudo">
            <div class="col-12">
                <h1>{{ 'DASHBOARD_TITLE_EMPLOYEE' | translate }} {{ userName }}</h1>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 1 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'SERVICES_THIS_MONTH' | translate }}</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'SERVICES_I_WORKED_ON' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ servicosNoMesPorUsuario }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'SERVICES_POSITIVE_FEEDBACK' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ aprovacoesNoMesPorUsuario }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'SERVICES_NEGATIVE_FEEDBACK' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ reprovacoesNoMesPorUsuario }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>{{ 'OVERALL_APPROVAL_AVERAGE' | translate }}</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ mediaAprovacaoNoMesPorUsuario | number:'1.1-1' }}%</span>
                    </div>
                </div>
            </div>
            <!-- CARD 2 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'GENERAL_PRODUCTION_THIS_MONTH' | translate }}</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'CURRENT_COMPENSATION' | translate }}</span>
                    </div>
                    <div class="col-4" style="text-align: end;">
                        <span>{{ remuneracaoAtual | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'PRODUCED_VALUE' | translate }}</span>
                    </div>
                    <div class="col-4" style="text-align: end;">
                        <span>{{ valorProduzidoNoMes | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-8" style="text-align: start;">
                        <span>{{ 'EFFECTIVE_TOTAL_PRODUCTION' | translate }}</span>
                    </div>
                    <div [ngClass]="{'negative-value': producaoEfetivaNoMes < 0}" 
                        class="col-4" style="text-align: end;">
                        <br>
                        <span>{{ producaoEfetivaNoMes | currency:getCurrencyCode():'symbol':'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 3 -->
            <div class="col-12 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <span>{{ 'MY_PERFORMANCE_THIS_MONTH' | translate }}</span>
                        <hr>
                    </div>
                </div>
                <div *ngIf="producaoDoMesPorUsuario.length > 0">
                    <canvas *ngIf="producaoDoMesPorUsuario.length > 0" id="graficoPizzaDesempenhoDoMesUsuario"></canvas>
                </div>
                <div *ngIf="producaoDoMesPorUsuario.length === 0">
                    <span class="material-symbols-outlined" style="font-size: 100px;">
                        clock_loader_60
                    </span>
                    <br>
                    <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                </div>
            </div>
            <!-- CARD 4 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'MY_GENERAL_PERFORMANCE' | translate }}</h2>
                        <hr>
                    </div>
                    <div *ngIf="producaoTotalPorUsuario.length > 0">
                        <canvas *ngIf="producaoTotalPorUsuario.length > 0" id="graficoPizzaDesempenhoTotalFuncionario"></canvas>
                    </div>
                    <div *ngIf="producaoTotalPorUsuario.length === 0">
                        <span class="material-symbols-outlined" style="font-size: 100px;">
                            clock_loader_60
                        </span>
                        <br>
                        <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 5 -->
            <div class="col-12 card-grande">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>{{ 'MY_PROGRESS_IN_YEAR' | translate }} {{ anoAtual }}</h2>
                        <hr>
                    </div>
                </div>
                <div *ngIf="producaoTotalPorUsuario.length > 0">
                    <canvas *ngIf="producaoTotalPorUsuario.length > 0" baseChart 
                            [datasets]="lineChartData" 
                            [labels]="lineChartLabels" 
                            [options]="lineChartOptions"
                            [legend]="lineChartLegend" 
                            [type]="lineChartType">
                    </canvas>
                </div>
                <div *ngIf="producaoTotalPorUsuario.length === 0">
                    <span class="material-symbols-outlined" style="font-size: 100px;">
                        show_chart
                    </span>
                    <br>
                    <span>{{ 'NO_DATA_TO_DISPLAY_CHART' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>