<div class="corpo">
    <div class="container conteudo">
        <div class="row centralizar-conteudo">
            <div class="col-12 titulo">
                <h1>Dashboard de {{ userName }}</h1>
            </div>
        </div>
        <div class="row centralizar-conteudo">
            <!-- CARD 1 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>Serviços este mês</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Serviços que trabalhei:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ servicosNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Serviços com avaliação positiva:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ aprovacoesNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Serviços com avaliação negativa:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ reprovacoesNoMes }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Média geral de aprovação:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ mediaAprovacaoNoMes | number:'1.1-1' }}%</span>
                    </div>
                </div>
            </div>
            <!-- CARD 2 -->
            <div class="col-6 card">
                <div class="row centralizar-conteudo">
                    <div class="col-12">
                        <h2>Produção geral do mês</h2>
                        <hr>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Remuneração atual:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ remuneracaoAtual | currency:'BRL':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Valor produzido:</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <span>{{ valorProduzidoNoMes | currency:'BRL':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
                <div class="row centralizar-conteudo">
                    <div class="col-9" style="text-align: start;">
                        <span>Produção efetiva (Valor produzido - Remuneração):</span>
                    </div>
                    <div class="col-3" style="text-align: end;">
                        <br>
                        <span>{{ producaoEfetivaNoMes | currency:'BRL':'symbol':'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>